* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.contenedor02 {
	background-image: url(/src/assets/img/webfotos/pinaplaya.jpg);
	background-size: 100%;
	background-repeat: no-repeat;
	display: flex;
	flex-direction: column;
	margin: 0px;
	padding: 0px;
	width: 100%;
	height: 600px;
	background-color: #82b5d2;
	text-align: center;
	align-items: center;
	/* flex-grow: 1; */
}

.campotexto {
	background: white;
	border-radius: 5px;
}

.fondo {
	width: 100%;
	background-color: rgba(92, 143, 219, 0.5);
	margin: 20px;
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 20px;
	border-radius: 10px;
}
