@font-face {
	font-family: hero;
	src: url(/src/assets/fonts/hero.ttf);
}
@font-face {
	font-family: Avenir-book;
	src: url(/src/assets/fonts/Avenir-Book.otf);
}
@font-face {
	font-family: Lie-to-Me;
	src: url(/src/assets/fonts/Lie-to-Me.ttf);
}
@font-face {
	font-family: Runda-Bold;
	src: url(/src/assets/fonts/Runda-Bold.ttf);
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.contenedor-practices {
	/* background-image: url(/src/assets/img/webfotos/mixfrutas.jpg); */
	background-size: 100%;
	background-repeat: no-repeat;
	display: flex;
	flex-direction: column;
	margin: 0px;
	padding: 10px;
	width: 100%;
	height: auto;
	background-color: #a724fe;
	text-align: center;
	align-items: center;
	/* flex-grow: 1; */
}

.title-practices {
	margin-top: 10px;
	margin-bottom: 10px;
	margin-right: 20%;
	margin-left: 20%;
	color: white;
	font-family: Lie-to-Me;
	font-size: 50px;
	font-weight: normal;
	font-kerning: none;
	/* -webkit-text-stroke: 0.5px rgb(73, 67, 66); */
	/* text-shadow: 0.1em 0.1em #333; */
	text-shadow: 0.05em 0.05em #333;
}
.description-practices {
	margin-top: 10px;
	margin-bottom: 10px;
	margin-right: 20%;
	margin-left: 20%;
	color: white;
	font-family: Avenir-book;
	font-size: 20px;
	font-weight: normal;
	font-kerning: none;
	/* -webkit-text-stroke: 0.5px rgb(73, 67, 66); */
	/* text-shadow: 0.1em 0.1em #333; */
	text-shadow: 0.05em 0.05em #333;
}
